{% extends 'base.html' %} {% block content %}

<h2>Types</h2>

<div class="row">

    <form action="{{ url_for('filter_recipe') }}" method="POST" class="col s12">
        <div class="row">
            <!--Dietary Type -->
            <div class="input-field col s4">
                <select multiple name="diet">
                  {% for diet in types %}
                  {% if diet.type in dietF %}
                  <option value="{{diet.type}}" selected>{{diet.type}}</option>
                  {% else %}
                   <option value="{{diet.type}}">{{diet.type}}</option>
                   {% endif %}
                  {% endfor %}
                </select>
                <label>Select Dietary Type</label>
            </div>

            <!-- Allergens -->
            <div class="input-field col s4">
                <select multiple name="allergens">
                  {% for allergen in allergens %}
                  {% if allergen.allergen in allergensF %}
                  <option value="{{allergen.allergen}}" selected>{{allergen.allergen}}</option>
                  {% else %}
                  <option value="{{allergen.allergen}}">{{allergen.allergen}}</option>
                  {% endif %}
                  {% endfor %}
                  
                </select>
                <label>Select Allergens</label>
            </div>

            <div class="row">
                <button class="btn waves-effect waves-light" type="submit">Filter
                <i class="material-icons right">find_in_page</i>
             </button>
            </div>

    </form>

    {% for diet in dietF %}
    <span>{{diet}}</span> {% endfor %} {% for allergen in allergensF %}
    <span>{{allergen}}</span> {% endfor %}

    </div>
    <div class="col s9 search">
        <div class="row">
            <form action="{{ url_for('search_recipes') }}" method="POST">
                <div class="input-field col s6">
                    <i class="material-icons prefix">search</i>
                    <input id="icon_prefix" name="searchKey" type="text" class="validate">
                    <label for="icon_prefix">Search Recipes</label>
                </div>
                <button class="btn waves-effect waves-light" type="submit">Search
                <i class="material-icons right">search</i>
             </button>
            </form>
        </div>
        <div class="row">
            {% for recipe in recipes %}
            <div class="col s3 recipe">
                <a href="/recipe/{{recipe._id}}">{{recipe.recipeName}} ({{recipe.views}} views)</a>

            </div>
            {% endfor %}
        </div>

        <div class="row">
            {% for recipeV in recipesV %}
            <div class="col s3 recipe">
                <a href="/recipe/{{recipeV._id}}">{{recipeV.recipeName}} ({{recipeV.views}} views)</a>

            </div>
            {% endfor %}
        </div>





    </div>
    <div class="col s6 col m9">
        Amount of recipes: {{recipes.count()}} recipes
    </div>

    <span>PAGE</span> {% for page in pages %}
    <a href="/recipes/{{page}}">{{page}}</a> {% endfor %}
</div>
</div>
</div>
{% endblock %}
