{% extends 'base.html' %}
{% block content %}
     {% for recipe in recipes %}
            {{recipe.name}}
            {{recipe.howto}}
            {{recipe.qpersons}}
            {{recipe.ing01}}
            {{recipe.quan01}}
            {{recipe.unit01}}
        {% endfor %}

    <div class="row">
        <div class="col s3">
            <h2>Types</h2>
            <div>
                <input type="checkbox" id="breakfast">
                <label for="breakfast">Breakfast</label>
            </div>
            <div>
                <input type="checkbox" id="lunch">
                <label for="lunch">Lunch</label>
            </div>
            <div>
                <input type="checkbox" id="dinner">
                <label for="dinner">Dinner</label>
            </div>
            <div>
                <input type="checkbox" id="desert">
                <label for="desert">Desert</label>
            </div>

 <h2>Diet</h2>
            <div>
                <input type="checkbox" id="vegetarian">
                <label for="vegetarian">Vegetarian</label>
            </div>
            <div>
                <input type="checkbox" id="vegan">
                <label for="vegan">Vegan</label>
            </div>
            <div>
                <input type="checkbox" id="meat">
                <label for="meat">Meat</label>
            </div>
            <div>
                <input type="checkbox" id="fish">
                <label for="fish">Fish</label>
            </div>

            <h2>Allergens</h2>
            <div>
                <input type="checkbox" id="gluten">
                <label for="gluten">Gluten</label>
            </div>
            <div>
                <input type="checkbox" id="shellfish">
                <label for="shellfish">shellfish</label>
            </div>
            <div>
                <input type="checkbox" id="peanuts">
                <label for="peanuts">Peanuts</label>
            </div>
            <div>
                <input type="checkbox" id="lactose">
                <label for="lactose">Lactose</label>
            </div>


        </div>
        <div class="col s12 m9"></div>
        <div class="col s6 col m9"></div>

    </div>
    
    </form>
    </div>
    <div class="col-12 col-md-9"></div>
    <div class="col-6 col-md-9"></div>
    
</div>
{% endblock %} 