{% extends 'base.html' %} {% block content %}


<div class="row">
    <div class="col s3 checkboxes">
      


    </div>
    <div class="row">
        <div class="col s9 recipe">
            <h2>{{recipe.recipeName}}</h2>
        </div>

        <div class="col s3 views">
            Views: {{views}}
        </div>

        <div class="col s9"></div>


        <div class="col s3">
            <h4>Ingredients</h4>

            <ul>
                {% for ingredient in recipe.ingredients %}
                <li style="list-style-type:disc;">{{ingredient}}</li>
                {% endfor %}
            </ul>

            <span>Allergens:</span> {% for allergen in recipe.allergens %} <span>{{allergen}}, </span> {% endfor %}</span><br>
            <span>Keywords:</span> {% for keyword in recipe.keywords %} <span>{{keyword}}, </span> {% endfor %}</span>
        </div>

        <div class="col s4">
            <h4>Instructions</h4>
            {{recipe.directions}}
        </div>
    </div>
</div>
<div class="row">
    <form method="GET" action="/edit/{{recipe._id}}">
        <button class="btn waves-effect waves-light" type="submit">Edit Recipe
        <i class="material-icons lefti">edit</i></button>
    </form>

    <form method="GET" action="{{ url_for('delete', recipe_id=recipe._id) }}">
        <button class="btn waves-effect waves-light" type="submit">Delete Recipe
        <i class="material-icons left">delete_forever</i></button>
    </form>
</div>

</div>
{% endblock %}
