{% extends 'base.html' %} {% block content %}

<!-- TOP ROW MENU -->
<div class="row">
    <div class="col s12">
        <ul class="tabs">
            <li id="search" class="tab col s6"><a href="{{ url_for('recipes', page=1) }}" target="_self">Search Recipes</a></li>
            <li id="add" class="tab col s6"><a href="{{ url_for('create') }}" target="_self">Add Recipe</a></li>
        </ul>
    </div>
</div>

<!--FILTER-->
<div class="row">
    <form action="{{ url_for('filter_recipe') }}" method="POST" class="col s12">
        <div class="row">
            <!--Dietary Type -->
            <div class="input-field col s4">
                <select multiple name="diet">
                  {% for diet in types %}
                  {% if diet.type in dietF %}
                  <option value="{{diet.type}}" selected>{{diet.type}}</option>
                  {% else %}
                   <option value="{{diet.type}}">{{diet.type}}</option>
                   {% endif %}
                  {% endfor %}
                </select>
                <label>Select Dietary Type</label>
            </div>

            <!-- Allergens -->
            <div class="input-field col s4">
                <select multiple name="allergens">
                  {% for allergen in allergens %}
                  {% if allergen.allergen in allergensF %}
                  <option value="{{allergen.allergen}}" selected>{{allergen.allergen}}</option>
                  {% else %}
                  <option value="{{allergen.allergen}}">{{allergen.allergen}}</option>
                  {% endif %}
                  {% endfor %}
                </select>
                <label>Select Allergens</label>
            </div>


            <div class="col s4">
                <button class="btn waves-effect waves-light" type="submit">Filter
                <i class="material-icons right">find_in_page</i>
             </button>
            </div>
    </form>
    </div>
</div>

<!-- FILTER TAGS -->
<div class="row">
    <div class="col s1">Filters: </div>
    <div class="col s3">
        {% for diet in dietF %}
        <img class="logo col s3" title="{{diet}}" alt="{{diet}}" src="../static/images/diet/{{diet}}.png"></img>
        {% endfor %}
    </div>
    <div class="col s3">
        {% for allergen in allergensF %}
        <img class="logo col s3" title="{{allergen}}" alt="{{allergen}}" src="../static/images/allergens/{{allergen}}.png"></img>
        {% endfor %}
    </div>
</div>

<div class="col s6 m9">
    Total of {{recipes.count()}} recipes
</div>
<!-- RECIPES -->
<div class="row">

    <div class="col s12 m5">
        <h4>Most Popular Recipes</h4>

        {% for recipeV in recipesV %}
        <div class="recipe col s12">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="{{recipeV.image}}">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">{{recipeV.recipeName}}</span>
                    <p><a href="/recipe/{{recipeV._id}}">Check out this recipe!</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>{{recipeV.recipeName}}</span>
                    <p>{{recipeV.views}} views since {{recipeV.dateEntered}}</p>
                    <p>Preparation time: ({{recipeV.prepTime}})</p>
                    <span>Dietary Type: </span>{% for diet in recipeV.diet %}<img class="logo" title="{{diet}}" alt="{{diet}}" src="../static/images/diet/{{diet}}.png"></img> {% endfor %}
                    <br>
                    <span>Allergens: </span>{% for allergen in recipeV.allergens %}<img class="logo" title="{{allergen}}" alt="{{allergen}}" src="../static/images/allergens/{{allergen}}.png"></img> {% endfor %}
                    <p>Keywords: {% for keyword in recipeV.keywords %} {{keyword}} {% endfor %}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="col s12 m2">
        <div class="divide"></div>
    </div>

    <div class="col s12 m5">
        <h4>Most Recent Recipes</h4>

        {% for recipe in recipes %}

       <div class="recipe col s12">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="{{recipe.image}}">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">{{recipe.recipeName}}</span>
                    <a href="/recipe/{{recipe._id}}">Check out this recipe!</a>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>{{recipe.recipeName}}</span>
                    <p>{{recipe.views}} views since {{recipe.dateEntered}}</p>
                    <p>Preparation time: ({{recipe.prepTime}})</p>
                    <span>Dietary Type: </span>{% for diet in recipe.diet %}<img class="logo" title="{{diet}}" alt="{{diet}}" src="../static/images/diet/{{diet}}.png"></img> {% endfor %}
                    <br>
                    <span>Allergens: </span>{% for allergen in recipe.allergens %}<img class="logo" title="{{allergen}}" alt="{{allergen}}" src="../static/images/allergens/{{allergen}}.png"></img> {% endfor %}
                    <p>Keywords: {% for keyword in recipe.keywords %} {{keyword}} {% endfor %}</p>
                    <br>
                    <a href="/recipe/{{recipe._id}}">Check out this recipe!</a>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>


</div>






<ul class="pagination">

    <li class="waves-effect"><a href="/recipes/{{prevPage}}"><i class="material-icons">chevron_left</i></a></li>
    {% for linkPage in pages %} {% if linkPage == page %}
    <li class="active"><a href="/recipes/{{linkPage}}">{{linkPage}}</a></li>
    {% else %}
    <li><a href="/recipes/{{linkPage}}">{{linkPage}}</a></li>
    {% endif %} {% endfor %}
    <li class="waves-effect"><a href="/recipes/{{nextPage}}"><i class="material-icons">chevron_right</i></a></li>
</ul>







{% endblock %}
